version: "3.9"

services:
  db:
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"

  backend:
    networks:
    - swag-net
    environment:
    - EXAM_POLL_CORS_LIST=https://poll.fugi.dev,frontend

  frontend:
    build:
      args:
      - NEXT_PUBLIC_API_BASEURL=https://poll-api.fugi.dev
    networks:
    - swag-net

networks:
  swag-net:
    name: swag-net
    external: true
