@import 'theme';

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: $background-color;
  color: $text-color;
}

p,
h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button,
input[type='text'],
select,
textarea {
  display: block;
  width: 210px;
  height: 40px;
  padding: 8px 12px 10px 12px;

  color: #fff;
  background: $input-bg-color;
  border: 1px solid rgba(0, 0, 0, 0.5);

  font-family: inherit;
  font-size: 100%;

  &::placeholder {
    color: $placeholder-color;
    opacity: 1;
  }

  &:focus {
    outline: 2px solid #fff;
  }
}

button {
  background: $button-bg-color;

  &:hover {
    background: $button-hover-bg;
  }

  &[type='submit'] {
    font-weight: bold;
  }
}

select {
  appearance: none;
  background: url('/chevron-down-solid.svg'), $input-bg-color;
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 1rem;

  &:invalid {
    color: $placeholder-color;
  }

  &[disabled] {
    color: $placeholder-color;
  }

  option {
    color: $text-color;
  }
}

div.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;

  label {
    cursor: pointer;
    user-select: none;
    font-size: 22px;
    padding-left: 10px;
  }
}

input[type='radio'] {
  appearance: none;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  cursor: pointer;
  background-color: $button-bg-color;
  border: 1px solid rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: $button-hover-bg;
  }
  &:checked {
    background-color: #fff;
    border: 6px solid #2196f3;
  }
  &:focus {
    outline: 2.5px solid #fff;
  }
}
