@import 'theme';

.main {
  --screen-height: 100vh;
  min-height: calc(var(--screen-height) - #{$footer-height});
  padding: 5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  input, select {
    margin-bottom: 1rem;
  }

  button {
    margin-top: 1rem;
  }
}
