@import 'theme';

.main {
  --screen-height: 100vh;
  min-height: calc(var(--screen-height) - #{$footer-height});
  padding: 5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editButton {
  font-size: 1.25rem;
  margin-left: .5rem;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

#backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);

  #editModal {
    position: relative;
    width: min(100%, 400px);
    background: $background-color;
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;

    .form {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      input, select {
        margin-bottom: 1rem;
      }

      button {
        margin-top: 1rem;
      }
    }

    .closeButton {
      position: absolute;
      top: .5rem;
      right: .5rem;
    }
  }
}

.closeButton {
  line-height: 0;
  font-size: 1.5rem;
  color: $text-color;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

.voteForm {
	display: flex;
	flex-direction: column;
	align-items: center;

  div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 2rem;
  }
}

.voteForm ul,
.voteResults {
  list-style: none;
  padding-inline-start: 0;
  margin-top: 0;
}

.voteResults .userVote {
  font-weight: bold;
}

input.shareURL {
  font-size: 14px;
}
