@import 'theme';

.main {
  --screen-height: 100vh;
  min-height: calc(var(--screen-height) - #{$footer-height});
  padding: 5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingWrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;

  h1 {
    margin-bottom: 0;
  }
}

.editButton {
  font-size: 1.25rem;
  margin-left: .5rem;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

.voteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  &>div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 2rem;
  }
}
